<div class="container mt-5">
  <div class="my-auto">
    <div class="card shadow " style="width: 50rem; height: auto;">
      <section>
        <div class="card-body">
          <div class="row">
            <h3 class="card-title main-title">Hobby</h3>
          </div>
          <h5 class="mt-5">
            I compose and produce music on my days off. My stage name is <strong>Hahnzo</strong>.
          </h5>
          <iframe class="spotify-player mt-5" src="https://open.spotify.com/embed/artist/1zWhNrUhcr5R5QUmMllvqZ?utm_source=generator" width="100%"
            height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <div class="text-center">
        </div>
      </section>
    </div>
  </div>
</div>
