<div class="container mt-5">
  <div class="my-auto">
    <div class="card shadow " style="width: 50rem; height: auto;">
      <section>
        <div class="card-body">
          <div class="row">
            <h3 class="card-title main-title">Hobby</h3>
          </div>
          <h5 class="mt-5">
              I compose and produce music on my days off. My stage name is <strong>Hahnzo</strong>.
          </h5>

        </div>
        <div class="text-center">
        </div>
      </section>
    </div>
  </div>
</div>
