<!-- About Me -->
<div class="" data-aos="fade-up">
  <div class="my-auto">
    <div class="card shadow " style="width: 50rem; height: 30rem;">
      <section>
        <div class="card-body">
          <div class="row">
            <h3 class="card-title">About Me</h3>
          </div>
          <div class="row" style="height:20rem;">
            <div class="col-4 align-items-center d-flex justify-content-center">
              <img class="image rounded-circle" src="\assets\images\profilepicture.png">
            </div>
            <div class="col-8" style="margin-top:5rem">
              <h3>Hello,</h3>
              <p class="my-4">I am a Full Stack Developer from Mauritius Island. I have experience developing UI,
                testing and debugging web applications,also i compose and produce music. </p>
              <div class="row">
                <div class="col">
                  <p>Age : <strong>25 Years old</strong></p>
                </div>
                <div class="col">
                  <p>Location : <strong>Port-Louis, Mauritius</strong></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Email : <strong>dylancnk@gmail.com</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!--Skills -->
<div class="mt-5" data-aos="fade-up">
  <div class="my-auto">
    <div class="card shadow " style="width: 50rem; height: auto;">
      <section>
        <div class="card-body">
          <div class="row">
            <h3 class="card-title">Skills</h3>
          </div>
          <div class="row my-5">
            <div class="col">
              <h4>HTML & CSS</h4>
              <div class="progress" style="height:0.7rem;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"><strong>95%</strong></div>
              </div>
            </div>
            <div class="col">
              <h4>Angular & TypeScript</h4>
              <div class="progress" style="height:0.7rem;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><strong>90%</strong></div>
              </div>
            </div>
          </div>
          <div class="row my-5">
            <div class="col">
              <h4>C#</h4>
              <div class="progress" style="height:0.7rem;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"><strong>70%</strong></div>
              </div>
            </div>
            <div class="col">
              <h4>ASP .Net Core</h4>
              <div class="progress" style="height:0.7rem;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><strong>60%</strong></div>
              </div>
            </div>
          </div>
          <div id="collapseBasic" [isAnimated]="true" [collapse]="isCollapsed">
            <div class="row">
              <div class="col">
                <h4>Bootstrap</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"><strong>95%</strong>
                  </div>
                </div>
              </div>
              <div class="col">
                <h4>Tailwind CSS</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><strong>50%</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <h4>Git</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><strong>75%</strong>
                  </div>
                </div>
              </div>
              <div class="col">
                <h4>Azure Devops</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><strong>55%</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-5">
              <div class="col">
                <h4>mySQL</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><strong>60%</strong>
                  </div>
                </div>
              </div>
              <div class="col">
                <h4>Testing (DOM & E2E)</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><strong>80%</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn" (click)="toggleShow()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic">{{toggleMessage}}
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
