section{
    display: block;
    padding:5%
}

.card{
    -webkit-font-smoothing: antialiased;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
}

p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:#777777;
}

.main-title:after{
    content: "";
    background: #343148FF;
    border-radius: 25px;
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 30px;
}

input{
    border-radius: 20px 20px 20px 20px;
}

textarea{
    border-radius: 21px 21px 21px 21px;
}

button{
    background-color: #343148FF;
    color:white;
}

.is-invalid{
    color:red;
}