
<div class="container-main">
<app-mobilenav></app-mobilenav>
  <div class="row mt-5">
    <div class="d-flex justify-content-center col-md col-lg-3 mb-5 section-sidecard">
      <app-sidecard></app-sidecard>
    </div>
    <div id="home" class="col-md-auto col-lg-9 section-content">
      <app-home></app-home>
      <div id="about" class="my-5">
        <app-about></app-about>
      </div>
      <div id="services" class="my-5">
        <app-services></app-services>
      </div>
      <div id="experiences" class="my-5">
        <app-experiences></app-experiences>
      </div>
      <div id="hobby" class="my-5">
        <app-hobby></app-hobby>
      </div>
      <div id="contact" class="my-5">
        <app-contact></app-contact>
      </div>
      <div id="tech" class="my-5">
        <app-tech></app-tech>
      </div>
      <div class="my-5">
        <div class="row mx-5 mt-5">
          <div class="col-3"></div>
          <div class="col-1" (click)="onClick(myLinkedin)"><i class="fab fa-linkedin cursor align-end"></i></div>
          <div class="col-1" (click)="onClick(myFacebook)"><i class="fab fa-facebook cursor"></i></div>
          <div class="col-1" (click)="onClick(myGithub)"><i class="fab fa-github cursor"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
