#navbarNav{
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .container {
        margin: 0%;
      }
    .section-sidecard{
        margin: 0% 0% 0% 15%;
    }
  }

.cursor{
  cursor: pointer;
}