<div class="container">
  <div class="text-center">
    <div class="text-center my-auto">
      <div class="card shadow card-block d-flex" style="width: 50rem; height: 36rem;">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h1 class="card-title">I am a <span class="typed-text"></span><span class="cursor">&nbsp;</span></h1>
        </div>
        <div class="align-items-end card-buttons">
          <a href="#" class="btn btncolor1 mx-3">Resume <span class="mx-2"><i class="fa fa-download fa-sm" aria-hidden="true"></i></span></a>
          <a href="#" class="btn btncolor2 mx-3">Hire Me</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-confirmation-modal></app-confirmation-modal>