<!-- <div class="d-flex justify-content-center align-items-stretch text-center card shadow" style="width: 50rem; height: 30rem;">
    <div class="container">
        <div class="card-body">
            <h1 class="card-title">I am a <span class="typed-text"></span><span class="cursor">&nbsp;</span></h1>
        </div>
        <div class="row align-items-end">
            <div class="col-3">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col-3">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
  </div>
</div> -->

<!-- <div class="card card-block d-flex" style="width: 50rem; height: 30rem;"> 
    <div class="card-body align-items-center d-flex justify-content-center">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div> -->
<div class="container">
  <div class="row text-center">
    <div class="col-md-3 text-center my-auto">
      <div class="card shadow card-block d-flex" style="width: 50rem; height: 30rem;">
        <div class="card-body align-items-center d-flex justify-content-center">
            <h1 class="card-title">I am a <span class="typed-text"></span><span class="cursor">&nbsp;</span></h1>
        </div>
            <div class="align-items-end card-buttons">
                <a href="#" class="btn btncolor1 text-light mx-3">View Resume</a>
                <a href="#" class="btn border mx-3">Hire Me</a>
            </div>
        </div>
      </div>
    </div>
</div>