
  .card{
    background-color: #D7C49EFF;
    color: white;
    -webkit-font-smoothing: antialiased;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
}

  .container h1 span.typed-text {
    color: #343148FF;
  }
  .container h1 span.cursor {
    display: inline-block;
    background-color: #343148FF;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container h1 span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #343148FF; }
    49% { background-color: #343148FF; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #343148FF; }
  }

  .btn{
    border-radius: 10px 10px 10px 10px;
  }

  .card-buttons{
    margin-bottom: 5%;

    .btncolor1{
      background-color: #343148FF;
      color:white;
      border: 2px solid #343148FF;
    }
  
    .btncolor1:hover{
      background-color:white;
      color: #343148FF;
    }

    .btncolor2{
      border: 2px solid white;
      color:white
    }

    .btncolor2:hover{
      background-color:white;
      color: #343148FF;
      border: 2px solid #343148FF;
    }
  }

  .face-button {
  $height: 40px;
  $accentColor: #343148FF;
  
  height: $height;
  display: inline-block;
  border: 2px solid $accentColor;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $accentColor;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  
  .icon {
    margin-right: 6px;
  }
  
  .face-primary,
  .face-secondary {
    display: block;
    padding: 0 20px;
    line-height: $height;
    transition: margin .4s;
  }
  
  .face-primary {
    background-color: $accentColor;
    color: #fff;
  }
  
  &:hover .face-primary {
    margin-top: -$height;
  }
}