<div class="card side-card shadow" style="width: 18rem;">
    <div class="container">
    <div class="text-center py-4">
      <img class="profile-image rounded-circle" src="\assets\images\profilepicture.png">
    </div>
    <div class="card-body">
      <h2 class="card-title">Dylan Cheong.</h2>
      <p class="card-text">Software Developer</p>
      <ul class="mt-5">
        <li (click)="ScrollIntoView('#home')" class="my-2"><i class="fa fa-home" style="margin-right: 1rem;"></i> Home</li>
        <li (click)="ScrollIntoView('#about')" class="my-2"><i class="fa fa-user" style="margin-right: 1rem;"></i> About</li>
        <li (click)="ScrollIntoView('#services')"class="my-2"><i class="fa fa-lightbulb" style="margin-right: 1rem;"></i> Services</li>
        <li (click)="ScrollIntoView('#experiences')" class="my-2"><i class="fa fa-briefcase" style="margin-right: 1rem;"></i> Experiences</li>
        <li (click)="ScrollIntoView('#hobby')" class="my-2"><i class="fa fa-guitar" style="margin-right: 1rem;"></i> Hobby <i class="fab fa-spotify" style="margin-left: 0.6rem; color:rgb(68, 196, 68);"></i></li>
        <li (click)="ScrollIntoView('#contact')" class="my-2"><i class="fa fa-phone" style="margin-right: 1rem;"></i> Contact</li>
      </ul>
    </div>
</div>
</div>