<div class="card side-card shadow animate__animated animate__fadeInLeft" style="width: 18rem;">
  <div class="container">
    <div class="text-center py-4" (mouseenter)="onProfileHover()" (mouseleave)="onProfileHover()">
      <img class="profile-image rounded-circle" src="\assets\images\profilepicture.png">
      <div *ngIf="overlaid" class="overlay">
        <div class="row">
          <div class="col" (click)="onClick(myLinkedin)"><i class="fab fa-linkedin fa-2x cursor"></i></div>
          <div class="col" (click)="onClick(myFacebook)"><i class="fab fa-facebook fa-2x cursor"></i></div>
          <div class="col" (click)="onClick(myGithub)"><i class="fab fa-github fa-2x cursor"></i></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title">Dylan Cheong.</h2>
      <p class="card-text">Software Developer</p>
      <ul class="mt-5">

        <li (click)="scrollToTop()" class="my-2" [ngClass]="{'active':currentActive == 0}"><i class="fa fa-home"
            style="margin-right: 1rem;"></i> Home</li>

        <li (click)="ScrollIntoView('#about')" class="my-2" [ngClass]="{'active':currentActive == 1}"><i
            class="fa fa-user" style="margin-right: 1rem;"></i> About
        </li>

        <li (click)="ScrollIntoView('#services')" class="my-2" [ngClass]="{'active':currentActive == 2}"><i
            class="fa fa-lightbulb" style="margin-right: 1rem;"></i> Services</li>

        <li (click)="ScrollIntoView('#experiences')" class="my-2" [ngClass]="{'active':currentActive == 3}"><i
            class="fa fa-briefcase" style="margin-right: 1rem;"></i> Experiences</li>

        <li (click)="ScrollIntoView('#hobby')" class="my-2" [ngClass]="{'active':currentActive == 4}"><i
            class="fa fa-guitar" style="margin-right: 1rem;"></i>
          Hobby <i class="fab fa-spotify" style="margin-left: 0.6rem; color:rgb(68, 196, 68);"></i></li>

        <li (click)="ScrollIntoView('#contact')" class="my-2" [ngClass]="{'active':currentActive == 5}"><i
            class="fa fa-phone" style="margin-right: 1rem;"></i>
          Contact</li>
      </ul>
    </div>
  </div>
</div>
