/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    background-color: #f6f7ff;
}

h1{
    display: block;
    font-size: 60px;
    font-weight: 1000;
}

h2{
    display: block;
    font-size: 28px;
    font-weight: 1000;
}

h3{
    display: block;
    font-size: 24px;
    font-weight: 1000;
}

h4{
    display: block;
    font-size: 14px;
    font-weight: 1000;
}

h5{
    display: block;
    font-size: 16px;
}

ul{
    list-style-type:none;
    padding-left: 0%;
}