<div class="container mt-5" data-aos="fade-up">
  <div class="my-auto">
    <div class="card shadow " style="width: 50rem; height: auto;">
      <section>
        <div class="card-body">
          <div class="row">
            <h3 class="card-title main-title">Experiences</h3>
          </div>
          <div class="timeline_area section_padding_130 my-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                  <div class="section_heading text-center">
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                        <p><strong>2019</strong></p>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                            <div class="timeline-text">
                              <h6>Software Engineer Intern</h6>
                              <p><strong>SD Worx Mauritius</strong></p>
                              <p>Developing cross-platform applications for internal company use.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                        <p><strong>2020</strong></p>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <div class="timeline-text">
                              <h6>Associate Engineer</h6>
                              <p><strong>SD Worx Mauritius</strong></p>
                              <p>Followed Backend and Frontend training. Worked on a certificate generation application.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                        <p><strong>2021</strong></p>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <div class="timeline-text">
                              <h6>Software Developer</h6>
                              <p><strong>SD Worx Mauritius</strong></p>
                              <p>Working on both Frontend and Backend to develop web application.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
