<div class="container">
    <div class="my-auto">
      <div class="card shadow " style="width: 50rem; height: 30rem;">
        <section>
          <div class="card-body">
            <div class="row">
              <h3 class="card-title">Services</h3>
            </div>
            <div class="row" style="height:20rem;">
              <div class="col-4 align-items-center d-flex justify-content-center">
                <img class="image rounded-circle" src="\assets\images\profilepicture.png">
              </div>
              <div class="col-8" style="margin-top:5rem">
                <h3>Hello,</h3>
                <p class="my-4">I am a Full Stack Developer from Mauritius Island. I have experience developing UI,
                  testing and debugging web applications,also i compose and produce music. </p>
                <div class="row">
                  <div class="col">
                    <p>Age : <strong>25 Years old</strong></p>
                  </div>
                  <div class="col">
                    <p>Location : <strong>Port-Louis, Mauritius</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>Email : <strong>dylancnk@gmail.com</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>