<div class="container">
    <div class="my-auto">
      <div class="card shadow " style="width: 50rem; height: 15rem;">
        <section>
          <div class="card-body">
            <div class="row">
              <h3 class="card-title main-title">Technology used in this project</h3>
            </div>
            <div class="row">
              <div class="col mt-4">
                  <img src="/assets/images/angular-icon.svg"  style="width: 4rem; height: 4rem;" (click)="onClick(angularWebsite)">
              </div>
              <div class="col">
                <img src="/assets/images/Typescript_logo_2020.svg.png"  style="width: 3.3rem; height: 3.3rem; margin-top: 19%;" (click)="onClick(typescriptWebsite)">
              </div>
              <div class="col">
                <img src="/assets/images/bootstrap.svg"  style="width: 3.3rem; height: 3.3rem;margin-top: 19%;" (click)="onClick(bootstrapWebsite)">
              </div>
              <div class="col mt-1">
                <img src="/assets/images/firebase.svg"  style="width: 6.5rem; height: 6.5rem;" (click)="onClick(firebaseWebsite)">
              </div>
            </div>
          </div>
          <div class="text-center">
          </div>
        </section>
      </div>
    </div>
  </div>
  