section{
    display: block;
    padding:5%
}

.card{
    -webkit-font-smoothing: antialiased;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    background-color: #D7C49EFF;
    color:white;
}

p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:white;
}

.tutor::after{
   content: ' BETA';
   font-size: 8px;
   vertical-align: top;
   color:red;
}

.inner-card:hover{
    background: #343148FF;
    color:white;
    transition: all 0.3s ease-in-out;
}

.main-title:after{
    content: "";
    background: white;
    border-radius: 25px;
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 30px;
}