section{
    display: block;
    padding:5%
}

.card{
    -webkit-font-smoothing: antialiased;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    background-color: #D7C49EFF;
    color:white;
}

.main-title:after{
    content: "";
    background: white;
    border-radius: 25px;
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 30px;
}

img{
    cursor:pointer;
}

i{
    cursor:pointer;
}